<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        div {
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            background-color: teal;
            font-size: 2rem;
            padding: 1rem 2rem;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>

    <title>Error 404</title>
</head>

<body>
    <div>The page you were looking for was not found. :(</div>
</body>

</html>